<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/student.png" type = "image/x-icon">
        <link rel="stylesheet" href="/cdn/bootstrap.min.css">
        <script src="/cdn/jquery.min.js"></script>
        <script src="/cdn/popper.min.js"></script>
        <script src="/cdn/bootstrap.min.js"></script>
        <script src="/cdn/jquery_2.min.js"></script>
        <script src="/cdn/vue.js"></script>
        <script src="js/graphql.js"></script>
        <script src="/cdn/vuex.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <%- include("menu.ejs"); %>
            <div>
                <div class="row">
                    <div class="col text-center">
                        <h1>THÔNG BÁO</h1>
                        <h4>(Hiện đang TẮT)</h4>
                        <br>
                        <button class="btn btn-primary">BẬT THÔNG BÁO</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="comment">Nội dung thông báo</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>