<div>
    <div>
        <video
            id="element_video"    
            controls
            autoplay
        >
            <!-- <source src="http://localhost/stream/test/index.m3u8" type="application/x-mpegURL"> -->
        </video>
        <button onclick='video_hls("element_video", "http://localhost/stream/test/index.m3u8");'>Xem</button>
    </div>
    <script>
//         var overrideNative = false;

// var player = videojs('element_video', {
// 	html5: {
//     hls: {
//       overrideNative: overrideNative
//     },
//     nativeVideoTracks: !overrideNative,
//     nativeAudioTracks: !overrideNative,
//     nativeTextTracks: !overrideNative
//   }
// });
// player.play();
    </script>
</div>