<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
        <div class="text-center">
            <h1>Đổi mật khẩu</h1>
        </div>
        <div class="alert alert-info">
            <p>
                Mật khẩu đang mặc định, bạn đổi mật khẩu nhé!.
            </p>
        </div>
        <div class="mt-5 mb-5">
            <div class="form-group">
                <!-- <label for="usr">Mật khẩu mới</label> -->
                <input type="text" class="form-control" id="usr"
                    placeholder="Mật khẩu mới"
                   v-model="pwdchange"
                >
            </div>
            <div v-if="pwdchange.length < 8">
                <div class="alert alert-danger">
                    <p>Mật khẩu ít nhất 8 ký tự</p>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-warning" disabled @click="changePassword">Đổi mật khẩu</button>
                </div>
            </div>
            <div v-else>
                <div class="alert alert-success">
                    <p>Mật khẩu hợp lệ</p>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-warning" @click="changePassword">Đổi mật khẩu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">

    </div>
</div>