<html>
    <head>
        <%- include("header.ejs", {"title": "Hệ thống sự cố"}) %>
    </head>
    <body>
        <%- include("menu.ejs"); %>
        <div class="container-fluid">
            <div class="jumbotron">
                <div class="">
                    <h1>SỰ CỐ VỀ ĐƯỜNG TRUYỀN INTERNET KHU VỰC</h1>
                </div>
                <div>
                    <br>
                    <p>Hệ thống camera tạm gián đoạn chờ khắc phục từ nhà mạng</p>
                    <br>
                    <p><strong>Dự kiến: 17 giờ - ngày 25/08/2022</strong></p>
                    <br>
                    <p>Liên lạc qua Zalo Nhà trường: <a href="https://zalo.me/0933064964" class="btn btn-primary">Bấm vào đây</a></p>
                    <p>Điện thoại: <strong>0933 064 964</strong></p>
                    <p>Cảm ơn quý phụ huynh.</p>
                </div>
            </div>
        </div>
    </body>
</html>
