<html>
    <head>
        <%- include("header.ejs", {"title": "Hệ thống sự cố"}) %>
    </head>
    <body>
        <%- include("menu.ejs"); %>
        <div class="container-fluid">
            <div class="jumbotron">
                <div class="">
                    <h1>HỆ THỐNG BỊ GIÁN ĐOẠN</h1>
                </div>
                <div>
                    <p>Hiện tại - trường Ngọc Hoàng đang bị mất điện. Nên hệ thống camera tạm dừng hoạt động.</p>
                    <br>
                    <p><strong>Thời gian gián đoạn (dự kiến): 13 giờ - ngày 09/05/2022</strong></p>
                    <br>
                    <p>HOTLINE liên lạc</p>
                    <p>Gọi điện trực tiếp: <a href="tel: 0862270717" class="btn btn-success">Gọi 0862 27 07 17</a></p>
                    <p>Liên lạc qua Zalo: <a href="https://zalo.me/0862270717" class="btn btn-primary">Zalo: 0862 27 07 17</a></p>
                    <p>Trân trọng./.</p>
                </div>
            </div>
        </div>
    </body>
</html>
