<html>
    <head>
        <%- include("header.ejs", {"title": "Hệ thống sự cố"}) %>
    </head>
    <body>
        <%- include("menu.ejs"); %>
        <div class="container-fluid">
            <div class="jumbotron">
                <div class="">
                    <h1>HỆ THỐNG BỊ GIÁN ĐOẠN</h1>
                </div>
                <div>
                    <p>Do đường cáp quang tại trung tâm (server) phát camera bị đứt. Nên việc phát camera trực tuyến trên Website bị gián đoạn.</p>
                    <p>Hiện đội kỹ thuật camera đang khắc phục sự cố - để cố gắng để hoạt động server trở lại sớm nhất.</p>
                    <br>
                    <p><strong>Thời gian gián đoạn (dự kiến): ngày 20/04/2022</strong></p>
                    <p>Đội ngũ kỹ thuật rất tiếc vì sự cố ngoài ý muốn - mong quý phụ huynh thông cảm.</p>
                    <br>
                    <p>HOTLINE liên lạc</p>
                    <p>Gọi điện trực tiếp: <a href="tel: 0862270717" class="btn btn-success">Gọi 0862 27 07 17</a></p>
                    <p>Liên lạc qua Zalo: <a href="https://zalo.me/0862270717" class="btn btn-primary">Zalo: 0862 27 07 17</a></p>
                    <p>Trân trọng./.</p>
                </div>
            </div>
        </div>
    </body>
</html>
