<% if(title == undefined) {var title = "Chua dat tieu de"} %>
<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="images/student.png" type = "image/x-icon">
<link rel="stylesheet" href="/cdn/bootstrap.min.css">
<script src="/cdn/jquery.min.js"></script>
<script src="/cdn/popper.min.js"></script>
<script src="/cdn/bootstrap.min.js"></script>
<script src="/cdn/jquery_2.min.js"></script>
<script src="/cdn/vue.js"></script>
<script src="js/graphql.js"></script>
<script>
    // var ERROR_PAGE = "/error"
    // if(location.pathname != ERROR_PAGE){
    //     location.href = ERROR_PAGE;
    // }
</script>