<html>
    <head>
        <%- include("header.ejs", {title: "Camera Mầm Non"}); %>
    </head>
    <body>
        <%- include("menu.ejs"); %>
        <div class="container-fluid">
            <div class="mt-2">
                <p>
                    Danh sách camera của bạn hiện đang trống, bạn liên hệ kỹ thuật để được kiểm tra nhé!.
                </p>
                <!-- <button>Xem camera</button> -->
            </div>
        </div>
    </body>
</html>