<html>
    <head>
        <%- include("header.ejs", {"title": "Kỹ thuật"}) %>
    </head>
    <body>
        <%- include("menu.ejs"); %>
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>Hỗ trợ khách hàng</h1>
                <p>Khi gặp sự cố về <strong>đăng nhập</strong> hoặc <strong>cần hỗ trợ</strong>. Hãy liên hệ kỹ thuật qua những kênh sau:</p>
                <p>Gọi điện trực tiếp: <a href="tel: 0862270717" class="btn btn-success">Gọi 0862 27 07 17</a></p>
                <p>Liên lạc qua Zalo: <a href="tel: 0862270717" class="btn btn-primary">Zalo: 0862 27 07 17</a></p>

                <p>Thời gian làm việc: Thứ 2 - thứ 6</p>
                <ul>
                    <li>Sáng: 8g - 11g30</li>
                    <li>Chiều: 13g30 - 17g30</li>
                </ul>
                <p>Trân trọng./.</p>
            </div>
        </div>
    </body>
</html>